@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700;900&display=swap");
body {
  padding: 32px;
  background: #52297f !important;
}
h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  color: white;
}

.client {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  border: 1px solid grey;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  transition: all 0.1s linear;
  width: 100%;
  background: white;
}

.client-data {
  width: 100%;
}

.client-data textarea {
  margin-top: 16px;
  height: 200px;
}

.clientHolder {
  display: flex;
  gap: 16px;
}

p {
  margin-bottom: 0 !important;
}

.finish {
  display: block;
  background-color: white;
  border: 2px solid #52297f;
  padding: 8px 16px;
  border-radius: 16px;
  text-decoration: none;
  color: #52297f;
  text-align: center;
  margin-top: 32px;
}

.finish:hover {
  cursor: pointer;
  color: #52297f;
}
